.wrapper-menu__shadow-button-container {
  position: relative;
}
.main-page__left,
.main-page__right,
.main-page__bottom {
  width: fit-content;
  height: fit-content;
}
.main-page__left {
  position: relative;
  transform: translateY(5.5px) translateX(0px);
  transition: 1s;
  opacity: 1;
}
.main-page__right {
  position: relative;
  transform: translateY(-33.2px) translateX(22.6px);
  transition: 1s;
  opacity: 1;
}
.main-page__bottom {
  position: relative;
  z-index: -1;
  transform: translateY(-54.5px);
  transition: 1s;
  opacity: 1;
}

.main-page__left_push {
  transform: translateY(0px) translateX(-5px);
  transition: 1s;
  opacity: 1;
}
.main-page__right_push {
  transform: translateY(-38.9px) translateX(26.6px);
  transition: 1s;
  opacity: 1;
}
.main-page__bottom_push {
  position: absolute;
  z-index: -1;
  transform: translateY(-49px);
  transition: 1s;
  opacity: 1;
}
