.wrapper-menu__shadow-button-team {
    position: relative;
}

.team__elem2 {
    position: absolute;
    z-index: -1;
    transform: translateY(-48.5px);
    transition: 1s;
    opacity: 0;
}

.team__elem2_push_down {
    transform: translateY(-48.4px) rotate(180deg);
    transition: 1s;
    opacity: 1;
}
/*

.team__elem2 {
    transform: translateY(-48.5px);
    transition: 1s;
    opacity: 1;
}*/
